# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host vm
    HostName vm
    User djp
    IdentityFile C:\Users\HP\id_rsa

Host server
    HostName server
    User djp
    IdentityFile C:\Users\HP\id_rsa

Host master
    HostName 192.168.122.11
    User ubuntu
    ProxyCommand ssh -q -W %h:%p server
    IdentityFile C:\Users\HP\id_rsa

Host worker1
    HostName 192.168.122.12
    User ubuntu
    ProxyCommand ssh -q -W %h:%p server
    IdentityFile C:\Users\HP\id_rsa

Host worker2
    HostName 192.168.122.13
    User ubuntu
    ProxyCommand ssh -q -W %h:%p server
    IdentityFile C:\Users\HP\id_rsa

Host *
    ServerAliveInterval 240